#myCarousel{
    /* top:-20px; */
    z-index:;
}
#padding{
	padding-top:80px;
}
.navbar-wrapper{
	position:absolute;
	
	top:15px;
	right:13px;
	left:13px;
	z-index:10;
	opacity:0.6;
}

/* #pagelook{
	top:50px;
} */